body{
	background-color: rgb(42, 87, 42);
}

.tout{
	display: flex;
	background-color: rgb(85,148,83);
	margin-bottom: 5px;
}
.formulaire{
	margin-left: 30px;
}
.schoolsFS{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.jersey_size{
	display: flex;
	justify-content: space-between;
}

header{
	
	height: 300px;

    color: black;
}

.section_1{
	border: 3px black solid;
	height: 133px;
	margin-top: 0px;
	padding-top: 0px;
	background-image: url("design2_image1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 0px;
	position: relative;
}

/*.logo{
	height: 120px;
	margin-right: 40px;
}*/
.section_2{
	border: 3px black solid
	color: black;
    background-color: black;
	height: 30px;
	padding-top: 0px;
}
.section_2 h3{
	color: white;
	text-align: center;
	margin: 0px;
}
.logo{
	width: 70px;
	height: 70px;
	position: absolute;
	right: 60px;
	bottom: 410px;
}

ul {
    list-style-type: none;
   
}
.souligner{
	text-decoration: underline;
	text-align: left;
}
a{
	text-decoration: none;
}
li{
	 line-height: 30px;
}
#contact{
	line-height: 30px;
}
 .carre{
	list-style-type: square;
}
.lettre{
	list-style-type: lower-alpha;
}
.cercle{
	list-style-type: circle;
}
	table{
		margin-bottom: 10px;
	}
	footer{
margin-top: 10px;
	}
	td,th{
		padding-left: 60px;
	}
